* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(#01e26e, #72ffb4);
}

.container {
    background-color: #ffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
    padding: 60px 30px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
}

input {
    margin-bottom: 10px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid #585858;
    color: #585858;
    padding: 2px 15px;
}

input:focus {
    outline: none;
    border-bottom: 2.4px solid #01e26e;
}

input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

input